<div class="card my-3">
  <div class="card-header">
    <h1 class="card-title text-center my-2">ABOUT THIS PROJECT</h1>
  </div>
  <div class="card-body">
    <p class="card-text">I saw a similar site on a job seeker's resume, with a country search, and enthusiastic feedback
      about it.</p>

    <p class="card-text">Decided to implement my own similar site, and further improve it a little bit.</p>

    <p class="card-text">For this I had to remember Python and parsed several hundred pages with information about
      visas, save to JSON
      files, thus creating my own API.</p>

    <p class="card-text"> Thus appeared the world map and the ability to move to information about the country
      immediately from the map,
      links to the countries bordering the search country, the history of transitions.
      Later added the ability to search for information about the need to obtain a visa to visit the country on the
      basis of nationality of the tourist.</p>

    <p class="card-text">This site will allow users to learn information about different countries of the world, and
      offers the following
      features:

      <li><a href="/map">Map:</a> user can select the country they want on the world map to get information about it.
      </li>

      <li><a href="/map">Search:</a> user can enter a country name or a keyword in the search box to quickly access
        information about
        a
        particular country.</li>

      <li><a href="/results/{{country_code2}}">Country page:</a> each country page will contain useful information such
        as general information about the
        country,
        geographical coordinates, language, currency, etc.</li>

      <li><a href="/visa">Visas:</a> for each country, it will indicate whether or not a visa is needed to visit it and
        what conditions
        must be
        met to obtain a visa.</li>

      <li>[Future] News: the site will regularly publish news about the travel industry, as well as updates and
        changes in
        legislation in different countries around the world.</li>
    </p>

    <p class="card-text">Thanks to these features, users will be able to learn more about different countries, help each
      other in choosing
      a travel destination and leave their contribution to the development of the travel community.
    </p>
  </div>
</div>
