<div class="btn-group my-3">
  <div class="dropdown">
    Citizenship &emsp;&emsp;&emsp;
    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{citizenship}}
    </button>
    <ul class="dropdown-menu" id="from">
      <li *ngFor="let item of countriesList | keyvalue: keepOrder"><a class="dropdown-item"
          (click)="getDataByCode(item)">{{item.value}}</a></li>
    </ul>
  </div>

  <div class="dropdown ms-5">
    Travel Destination &emsp;&emsp;&emsp;
    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{travelDestination}}
    </button>
    <ul class="dropdown-menu" id="from">
      <li *ngFor="let item of countriesList | keyvalue: keepOrder"><a class="dropdown-item"
          (click)="filterDestinationArray(item)">{{item.value}}</a></li>
    </ul>
  </div>

  <!-- <button class="ms-3 btn " type="submit" (click)="getDataByCode($event)">Search searchBox.value</button> -->
</div>

<div class="d-flex justify-content-evenly my-7" *ngIf="citizenship !== 'Specify your citizenship'">
  <h2>Citizenship &emsp;&emsp;&emsp;<span class="badge bg-secondary">{{citizenship | uppercase}}</span></h2>
  <h2 *ngIf="travelDestination !== 'Travel destination'">Travel Destination &emsp;&emsp;&emsp;<span class="badge bg-secondary">{{travelDestination | uppercase}}</span></h2>
</div>

<table class="table mt-3" *ngIf="tableColumnsName?.length > 0">
  <thead>
    <tr *ngFor="let country of visaRequirementsData | keyvalue: keepOrder; let i = index">
      <ng-container *ngIf="i === 0">
        <th scope="row">#</th>
        <th *ngFor="let data of country.value! | keyvalue: keepOrder">{{data.key}}</th>
      </ng-container>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <ng-container *ngIf="!travelDestination">
      <tr *ngFor="let country of visaRequirementsData | keyvalue: keepOrder; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td *ngFor="let data of country.value! | keyvalue: keepOrder">{{data.value | replace}}</td>
      </tr>
    </ng-container>
    <ng-container *ngIf="travelDestination">
      <tr *ngFor="let country of visaRequirementsData | keyvalue: keepOrder; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td *ngFor="let data of country.value! | keyvalue: keepOrder">{{data.value | replace}}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
