<div class="btn-group mt-3">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button 1
    </button>
    <ul class="dropdown-menu" id="from">
      <li *ngFor="let item of countriesList | keyvalue"><a class="dropdown-item" href="#">{{item.key}}</a></li>
    </ul>
  </div>

  <div class="dropdown  ms-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button 2
    </button>
    <ul class="dropdown-menu" id="to">
      <li *ngFor="let item of countriesList | keyvalue"><a class="dropdown-item" href="#">{{item.key}}</a></li>
    </ul>
  </div>

  <button class="ms-3 btn " type="submit" (click)="getDataByCode()">Search</button>

</div>
<!-- searchBox.value -->
